.btn-floating.add-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  font-style: normal;
  @include btn-main;

  @media #{$phone} {
    right: 20px;
  }
}
.add-new-modal {
  min-height: 500px;

  .modal-footer .btn.next-btn {
    margin: 40px auto 0 auto;
    display: block;
    width: 40%;
  }
}
