.edit-item {
  .first-row {
    display: flex;

    .input-field {
      width: 60%;
    }

    .palette {
      margin: 30px 0 0 auto;
    }

    @media #{$phone} {
        flex-direction: column;

        .input-field {
          width: 100%;
        }

        .palette {
          margin: 0 0 30px 0;
          .palette-item {
            margin-right: 15px;
          }
          .selected {
            margin-left: auto;
          }
        }

    }
  }

  .second-row {
    display: flex;

    .input-field {
      width: 60%;
    }
    .hide-end-date {
      margin: 30px 0 0 auto;
    }

    @media #{$phone} {
      flex-direction: column;

      .input-field {
        width: 100%;
      }
      .hide-end-date {
        margin: 0;
        margin-left: auto;
        margin-bottom: 30px;
      }
    }
  }

  // Pell editor in mobile view
  .pell-actionbar {
    border: 1px solid $border;
  }

  .pell-content {
    //background-color: #fff;
    border: 1px solid $border;
    border-top: none;
  }

  .removeItemBtn {
    float: right;
    background-color: #fff;
    color: #000;

    &:hover {
      color: #fff;
    }

    @media #{$phone} {
      font-size: 0.7rem;

      svg {
        margin-right: 0;
      }
    }
  }

  .saveItemBtn {
    float: right;
  }

  .text-limit {
    color: $negative-text;
  }

  .btn {
    margin-top: 10px;
  }
}

