.edit-group-btn {
  margin-right: auto;
  .dropdown-trigger {
    width: 134px;
  }
  svg {
    fill: #fff;
  }
  @media #{$phone} {
    span {
      display: none;
    }
    .dropdown-trigger {
      width: initial;
    }
  }

  .btn {
    font-size: 0.8rem;
    @media #{$phone} {
      svg {
        margin: 0;
      }
      span {
        display: none;
      }
    }
  }

  .dropdown-content {
    padding-top: 50px;
    background: none;
    box-shadow: none;
  }
}