.header {
  height: 40px;
  padding: 0 20px 0 0;
  background-color: $header-bg;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .user-section {
    display: flex;
    align-items: center;
    color: white;
    background: none;

    .user-info {
      display: flex;
      align-items: center;
      margin-right: 30px;
        .user-info-text {
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

      img {
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
      }
    }

    .sign-out {
      // margin-right: 30px;
    }
  }

  .burger-menu {
    height: 40px;
    width: 60px;
    margin-left: 20px;

    svg {
      fill: #fff;
    }
  }

  @media #{$phone} {
    .user-section {
      width: 100%;
      padding-left: 15px;
      .user-info {
        .user-info-text {
          max-width: 70px;
        }
      }
      .sign-out {
        width: 90px;
        font-size: 0.8rem;
        margin-left: auto;
      }
    }
  }
}
