// Item info
.item-info {
  height: 100px; // check Option.jsx - height
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $item-info-bg;
  color: #fff;

  div {
    text-align: left;
    padding: 0 20px;
  }
  .content {
    min-width: 130px;

    .content-date {
      font-size: 0.9rem;
    }
  }
  img {
    margin-top: 20px;
  }

  @media #{$phone} {
    justify-content: space-between;
    div {
      padding: 0 20px 0 15px;
    }
  }
}
.textEitorContent {
  background-color: $item-info-bg;
  color: #fff;
  text-align: left;
  padding: 0 15px 15px 15px;

  p {
    margin: 0;
  }
}

// Modal from item info
.img-modal-trigger img {
  width: 100px;
}
#modal-img {
  width: fit-content;
  max-width: 80%;

  .modal-content {
    padding: 0;

    h4 {
      display: none;
    }
  }

  img {
    max-width: 100%
  }
}
