.sign-in {
  margin: 5% auto;
  width: 500px;
  height: 80px;
}

.landing {
  // padding-top: 50px;
  padding: 1px 20px 40px 20px;
  background-color: #fff;

  &_description {
    background-color: #fff;

    h5 {
      line-height: 2.5rem;
      margin: 0;
      max-width: 800px;
      display: block;
      margin: 0 auto;
      padding: 0 15px;
    }
    .banner-wrap {
      background-color: $landing-banner-bg;
      img {
        width: auto;
        max-height: 300px;
      }
    }
    p {
      margin-bottom: 0;
    }
  }

  &_usecases_text {
    margin-top: 60px;
  }

  &_functions {
    margin: 60px 0 40px 0;
  }

  img {
    max-width: 700px;
    @include shadow;
  }
}

@media #{$phone} {
  .sign-in {
    font-size: 1.5rem;
    width: 90%;
  }
  .landing {
    &_description {
      p {
        padding: 0 20px;
      }
    }
    img {
      width: 100%;
    }

    &_description  {
      .banner-wrap {
        // width: 100%;
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
