@mixin shadow {
  -webkit-box-shadow: 0 8px 17px -5px rgba(0,0,0,0.56);
  -moz-box-shadow: 0 8px 17px -5px rgba(0,0,0,0.56);
  box-shadow: 0 8px 17px -5px rgba(0,0,0,0.56);
}

@mixin item-shadow {
  -webkit-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.47);
  box-shadow: 0px 2px 7px -2px rgba(0,0,0,0.47);
}

@mixin btn-main {
  background-color: #fff;
  border: 1px solid $main-btn-color;
  z-index: 10;

  i {
    color: $main-btn-color;
    line-height: 50px;
  }
}