.modal-content {
  h4 {
    font-size: 1.5rem;
    color: $border;
  }

  @media #{$phone} {
    .btn {
      width: 100%;
      margin: 5px 0;
    }
  }
}

 // for every modals excluded "add-new-modal", where close icon used as "Next"
 // because I need only close modal
:not(.add-new-modal) {
  &.modal .modal-footer {
    position: absolute;
    top: 8px;
    right: 10px;
    margin-top: 0px;
    padding: 0;
    background: none;
    width: 40px;
    height: 40px;
    .modal-close {
      padding: 0;
      margin: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
  
      .closeModalIcon {
        width: 40px;
        height: 40px;
        &::before {
          content: '';
          position: absolute;
          top: 6px;
          left: 6px;
          width: 28px;
          height: 28px;
          display: block;
          background-color: $close-btn;
          z-index: -1;
          border-radius: 50%;
        }
        
        svg {
          z-index: 99;
          fill: #fff;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
