
.switch-view-btn {
  position: fixed;
  right: 50px;
  top: 80px;
  @include btn-main;

  .material-icons {
    display: flex;
    justify-content: center;
  }

  @media #{$phone} {
    top: 60px;
    right: 20px;
  }
}
.side-panel.right-aligned {
  width: 80%;
  padding: 0 20px 50px 20px;

  .select-wrapper { // Select category
    width: 400px;
    margin: 0 auto;
  }

  .column-view-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid $item-border;
    @include item-shadow;
    margin: 20px 0;
    padding: 20px;

    &-color {
      width: 4px;
      margin-right: 10px;
    }
    &-head {
      min-width: 200px;
      padding-right: 20px;
      border-right: 1px solid $item-border;
      text-align: left;
    }
    &-title {
      font-weight: bold;
    }
    &-description {
      text-align: left;
      margin-right: auto;
      padding: 0 20px 0 20px;
      max-height: 500px;
      overflow: auto;
      a {
        display: block;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
      }
    }
    &-img {
      .img-modal-trigger img {
        width: 150px;
      }
    }
  }

  @media #{$phone} {
    .select-wrapper {
      width: 100%;
    }

    .column-view-item {
      flex-direction: column;
      @include item-shadow;
  
      &-color {
        width: 4px;
        margin-right: 10px;
        width: 100%;
        height: 3px;
      }
      &-head {
        min-width: 100%;
        margin-top: 10px;
        border: none;
        padding-right: 0;
        p {
          margin: 0;
        }
      }
      &-description {
        width: 100%;
        padding: 0;
      }
    }
  }
}
