@import "variables";
@import "mixins";
@import "timeline";
@import "item-info";
@import "edit-item";
@import "color-picker";
@import "header";
@import "loader";
@import "landing";
@import "modal";
@import "add-new-btn";
@import "side-panel";
@import "edit-group-btns";

// Reset

// Prevent taking ItemInfo more than half of screen on horizontal mobile view
.vis-timeline {
  min-height: 250px!important;
}

.select-dropdown li {  // Select dropdown list
  margin: 0;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: $footer-bg;
}

.user-section {
  background-color: #fff;
}

.timeline-wrap {
  display: flex;
  flex-direction: column;
  //height: calc(100vh - 40px); // - header
}

// hide "triggerOpenModal"
.hidden {
  display: none
}

// Groups panell
.vis-panel.vis-left {
  width: 132px;
  .vis-inner { // TODO: check it with long group name
    // text-overflow: ellipsis;
    // overflow: hidden; 
    // white-space: nowrap;
  }
}

.btn {
  svg {
    margin: 7px 8px 0 0;
    float: left;
  }
}

// Group nested arrow
.vis-timeline {
  .vis-labelset {
    text-align: left; 
  }

  .vis-label {
    padding-left: 10px;
    &.vis-nesting-group {
      &::before {
        display: block;
        height: 15px;
        width: 15px;
        float: left;
        margin-top: 6px;
      }
      &.expanded::before {
        content: "\25BC";
        display: block;
        transform: rotate(0deg);
      }
      &.collapsed::before {
        content: "\25BC";
        transform: rotate(-90deg);
        margin-top: 8px;
      }
    
      .vis-inner {
        position: absolute;
      }
    }

    @media #{$phone} {
      padding-left: 5px;
    }
  }
}

@media #{$phone} {
  p {
    font-size: 1.2rem;
  }

  .hideOnMobile {
    display: none;
  }

  .pell-container {
    margin-bottom: 15px;
  }

  // Groups panell
  .vis-panel.vis-left {
    max-width: 70px;
  }
}

