// wrapper
.vis-panel {
  background-color: $wrapper-bg;
}

// item lines
.vis-foreground {
  background-color: $timeline-bg;
}

// item
.vis-item {
  .vis-item-content p {
    font-size: 15px;
  }
}

.vis-item.vis-range {
  min-width: 100px;

  .vis-drag-center {
    &:hover {
      &::after {
        content: '...';
        font-size: 19px;
        display: block;
        position: absolute;
        top: -10px;
        right: 5px;
      }
    }
  }

  .vis-drag-left {
    left: -20px!important;
    &::after {
      content: '<';
    }
  }
  .vis-drag-right {
    right: -20px!important;
    &::after {
      content: '>';
    }
  }
}

.vis-drag-left, .vis-drag-right {
  border: 1px solid $border;
  background-color: #fff;

  &:hover {
    background-color: $hover-color;
    color: #fff;
  }

  &::after {
    height: 14px;
    display: block;
    font-size: 14px;
    line-height: 1px;
    margin-top: 32px;
    transform: scale(1, 2);
  }
}

// Item point
//.vis-point {
//  .vis-item-content {
//    position: absolute;
//    top: -10px;
//    left: -50px;
//    height: 35px;
//    border: 1px solid #f00;
//    background-color: rgba(46, 138, 138, 0.4);
//    > div {
//      margin-top: -18px;
//    }
//  }
//  .vis-dot {
//    top: 45px!important;
//  }
//}

// Dates
.vis-time-axis {
  background-color: $dates-line-bg;
}

// Nested categories
.vis-label.vis-nested-group {
  background: $group-nested-bg;
}
