
// Pallete
$color-one: #26a69a;
//$color-two: #26a6a0;
// $color-three: #d22121;
//$color-four: #54abd6;

$R1: #f00;

$G1: #fbfbfb;
$G2: #f5f5f5;
$G3: #c7c7c7;
$G4: #9e9e9e;

$landing-banner-bg: $G2;
$item-border: $G3;
$wrapper-bg: $G2;
$group-nested-bg: $G1;
$dates-line-bg: $G2;
$timeline-bg: #fff;
$header-bg: $color-one;
$loader-color: $color-one;
$main-btn-color: $color-one;
$footer-bg: $color-one;
$item-info-bg: $color-one; 
$hover-color: $color-one;
$border: $G4;
$negative-text: $R1;
$close-btn: $G4;

// Sizes
$phone: screen and (max-width: 768px - 1);
